keybinds {
    normal {
        // Unbind annoying keybinds for nvim usage
        unbind "Ctrl n"
        unbind "Ctrl o"
        unbind "Ctrl p"
    }
    tab {
        bind "n" {
            NewTab {
                cwd "$HOME"
            };
            SwitchToMode "Normal";
        }
        bind "Tab" { ToggleTab; SwitchToMode "Normal"; }
    }
    tmux {
        bind "c" {
            NewTab {
                cwd "$HOME"
            };
            SwitchToMode "Normal";
        }
        unbind "j"
        unbind "k"
        bind "l" { ToggleTab; SwitchToMode "Normal"; }
        unbind "m"
        bind "b" {
            LaunchOrFocusPlugin "file:~/.local/share/zellij/plugins/zfz.wasm" {
                floating true
            };
            SwitchToMode "Normal";
        }
    }
    shared_except "locked" {
        unbind "Ctrl q";
    }
}

plugins {
    compact-bar { path "compact-bar"; }
}

simplified_ui true
pane_frames false

themes {
    gruvbox-material {
        fg "#D4BE98"
        bg "#504945"
        red "#EA6962"
        green "#A9B665"
        yellow "#D8A657"
        blue "#7DAEA3"
        magenta "#D3869B"
        orange "#E78A4E"
        cyan "#89B482"
        black "#141617"
        white "#DDC7A1"
    }
}

theme "gruvbox-material"
default_layout "compact"
mirror_session true

ui {
    pane_frames {
        hide_session_name true
    }
}
